$border__color: rgba(darken(white,10%),.3);
$nav__color-background: #333;
$nav__color-font: darken(white, 5%);
$nav__border-phone: rem(2px) solid $border__color;
$background__hover: rgba(darken(white,10%),.3);


.pageHeader__nav{
    
    @include flexy($disp: flex, $dir: column);
            
    background: $nav__color-background;
    color: $nav__color-font;
    font-size: rem(20px);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    
    width: 80%;
    height: 100vh;
    
    transition: transform .45s ease;
    transform: translate(-100%);
    
    @include mq(m){
        position: static;
        height: auto;
        width: auto;
        flex-direction: row;
        transform: translate(0%);
        margin-left: auto;
    }
    
    &-tab{
        @include flexy($disp: flex, $alig: center);
        border-bottom: $nav__border-phone;
        border-right: $nav__border-phone;
        flex: 1;

        @include mq(m){
            border: 0;
            flex: none;
            padding: 0 rem(10px);
        }
        
        & .pageHeader__nav-icon{
            color: $nav__color-font;
            width: rem(26px);
            margin: 0 rem(6px) 0 rem(10px);
        }
        
        &:first-child{
            border-top: $nav__border-phone; 
            
            @include mq(m){
                border: 0;
            }
            
        }
        
        &:hover{
            background: $background__hover
        }
    }
}