/*.about{
    &__img{
        width: rem(90px);
        height: rem(90px);
        
        background: url(../img/footer.png);
        background-position:center;
        background-size: cover;
        
        border-radius: 50%;
        border: rem(4px) solid darken(white, 5%);
        
        float: left;
        margin-right: rem(8px)
    }
    
    &__p{
        color: darken(white, 10%);
        clear: right;
    }
}*/

.pageHeader{
    width: 100%;
    line-height: 2;
    
    background: red;
}
