.results{
    
    position: relative;
    
    @include mq(l){
        background: lighten(orange, 46%);
    }
    
        
    &__list{
        list-style: none;
                
        &-item{
            margin-bottom: rem(10px);
            padding: rem(4px) 0;
            border-bottom: 1px solid black;
            
            &-time{
                float: right;
            }
        }
    }
    
    &::after{
        
        @extend %vertical-bars-spliters; 
        @include mq(l){
            display: block;
        }
        
    }
}