body{
    
    & > * {
        width: 100%;
        position: relative;
    }
    
    .section-app{
        z-index: 1000;
    }
    
    @include mq(l){
        
        .section-app,
        .results,
        .about,
        .special__wrapper-app{
            width: 50%;
        }
        
        .results,
        .about{
            float: right;
        }
        
        .special__wrapper-app{
            float: left;
            background: lighten(black, 90%);
        }
        
        .footer{
            clear: both;
        }
        
        .section-spliter{
            display: none;
        }
        
        .section-app{
            position: fixed;
            
        }
    }
}

